* {
    margin:0;
    padding: 0;
}
html {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-image: url("../images/Background\ Wood\ Cooking\ -\ 6144x4069.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.img-thumbnail {
    height: 200px;
    width: 200px;
}

#contentContainer {
    display: grid;
    grid-template-columns:40px px auto 50px;
    grid-template-rows: 25% 15px auto;
}

.form-container {
    border: 3px solid #838c7e;
    display:grid;
    grid-template-columns:40px 5 auto 50px;
    grid-template-rows: 25% 15px auto;
    position: sticky;
    top: 0;
    background-color: rgba(250, 237, 212, 0.5)
}


.submit-button {
    border-radius: 10%;
    color: #785b0b;
}

.form-group {
    grid-column-start:2;
    letter-spacing: 1.5px;
    margin-top: 10px
}

.link {
    text-decoration: none;
}

.iframePage {
    height: 500px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5%;
}

.line {
    border: .5px dotted black;
}

.recipe-container {
    display: grid;
    width: 75%;
    justify-self: center;

}
.recipe-container > * {
    display: flex;
    justify-content: center;
    line-height: 2;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgba(250, 237, 212, 0.3);
}