* {
    margin:0;
    padding: 0;
}
html {
    font-family: 'Dosis', sans-serif;

    font-size: 20px
}
.img-thumbnail {
    height: 200px;
    width: 200px;
}

#contentContainer {
    display: grid;
    grid-template-columns:40px px auto 50px;
    grid-template-rows: 25% 15px auto;
}

.form-container {
    border: 3px solid #838c7e;
    display:grid;
    position:sticky;
    grid-template-columns:40px 5 auto 50px;
    grid-template-rows: 25% 15px auto;
    position: sticky;
    top: 0;
    background-color: #458f1f
}


.submit-button {
    border-radius: 10%;
    color: #785b0b;
}

.form-group {
    grid-column-start:2;
}

.link {
    text-decoration: none;
}

.iframePage {
    height: 500px;
    width: 100%;
    border: 1px solid black
}

.line {
    border: 1px solid black
}

.recipe-container {
    
}